@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body, html {
  margin: 0;
  padding: 0;
}

.kitty-container {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #6FCF97;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.kitty-list {
  width: 80%;
  max-width: 800px;

}

.kitty-tile,
.kitty-list:empty:before {
  width: 100%;
  background-color: white;
  border-radius: 35px;
  margin-top: 1rem;
  box-shadow: 0px 2px 30px rgba(0,0,0,0.15);
}

.kitty-list:empty:before {
  content: "Waiting for kittens :3";
  display: block;
  font-size: 2em;
  padding: 50px 20px;
  text-align: center;
}

.kitty-tile {
  max-width: 700px;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  // padding-top: 1rem;
  // padding-bottom: 1rem;
}

.kitty-info {
  display: flex;
  flex: 0 0 auto;
  width: 50%;
  position: relative;
}

.kitty-info-headings {
  position: absolute;
}

.kitty-pic {
  position: relative;
  flex: 1 1 auto;
  width: 50%;
}

.kitty-details {
  flex: 0.15;
}

.kitty-info-details {
  padding-left: .5rem;
  padding-top: 0.8rem;
  width: 100%;
}

.h5, .h6 {
  font-size: 0.75rem;
  margin:0;
  padding: 0;
  margin-bottom: 1rem;
}

.img {
  max-width: 400px;
  max-height: 400px;
}

.submit-button-container {
    width: 200px;
    padding: 10px 0px 0px 100px;
}

.submit-button-text {
    color: white;
}

.count-container {
    margin: 50px 0px 0px 150px;
}

.error-message-container {
    padding-left: 150px;
    color: red;
    width: 400px;
}

.count-form {
    width: 400px;
    padding: 10px 0px 0px 100px;
    margin: 10px 10px 10px 50px;
}

.status-bar {
    padding: 50px 0px 0px 150px;
}

.cursor-pointer {
    cursor: pointer;
    color: blue;
}

.user-address-link {
  cursor: pointer;
  color: darkblue;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-info {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: white;
  border-bottom-left-radius: 20px;
  padding: 15px;
}

.Image { 
  height: 100%;
}

.Image--loading:before {
  content: "Loading Kitty ...";
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
}

.Image--loading:after {
  content: "";
  padding-top: 100%;
  display: block;
}

.Image--loading .Image-img {
  width: 0px; 
  height: 0px;
}

.Image--loaded .Image-img {
  width: 100%;
  height: 100%;
}

.Image--failed {
  padding: 10px;
}

.Image-error {
  cursor: pointer;

  position: relative;
  background: hsla(0, 100%, 50%, 0.25);
  border-radius: 25px;
}

.Image-error:after {
  content: "Can't load Kitty :( click to retry";
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  line-height: 1.6em;
  margin-top: -0.8em;
  left: 10px;
  right: 10px;
}

.Image-error:before {
  content: "";
  // it makes image a square
  padding-top: 100%;
  display: block;
}
